h1,h2,h3 {
  font-family: helvetica;
  color: green;
  margin-top: 0;
}

article {
  float: left;
  display: inline-block;
  padding: 1em;
  margin: 0 5%;
  display: inline-block;
  width: 300px;
}

main {
  position: relative;
  padding: 1em;
  margin: 0 0 0 5%;
  display: inline-block;
  width: 300px;
}

#usersList {
  margin: 0 auto;
  padding: 0;
}

.user {
  display: block;
  list-style: none;
  position: relative;
  border: solid;
  height: auto;
  padding: 1em;
  margin: .5em auto 0;
  background-color: white;
}

input {
  display: block;
  margin: 5px;
}

@media (min-width: 795px) {
  article {
    float: right;
  }
}

@media (max-width: 795px) {
  main {
    width: 400px
  }
}

